---
import Layout from "../layouts/Layout.astro";
import UserCard from "../components/UserCard.astro";
import TimeCard from "../components/TimeCard.astro";
---

<Layout title="Time Tracking Dashboard">
  <main>
    <section class="dashboard-container">
      <div>
        <UserCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
      <div>
        <TimeCard title="Jeremy Robson" time={0} lastWeekTime="5" />
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    background-color: lightgray;
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    width: min(80%, 70%);
    width: calc(var(--size-15) + var(--size-15));
    /* margin-inline: auto; */
    gap: var(--size-5);
  }
  .dashboard-container div {
    display: flex;
    flex-direction: column;
  }
  .dashboard-container > div:first-child {
    grid-row: 1 / -1;
    background-color: lightgoldenrodyellow;
  }
</style>
