---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import "open-props/normalize";
  @import "open-props/style";
  :root {
    /* Colors */
    --tt-blue: 246, 80%, 60%;
    --tt-dark-blue: 235, 46%, 20%;
    --tt-very-dark-blue: 226, 43%, 10%;
    --tt-desaturated-blue: 235, 45%, 61%;
    --tt-pale-blue: 236, 100%, 87%;
    --tt-light-red: 15, 100%, 70%;
    --tt-light-red-study: 348, 100%, 68%;
    --tt-soft-blue: 195, 74%, 62%;
    --tt-lime-green: 145, 58%, 55%;
    --tt-violet: 264, 64%, 52%;
    --tt-light-orange: 43, 84%, 65%;

    --tt-font-sans: Rubik, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
      Cantarell, Noto Sans, sans-serif;
  }

  body {
    background-color: hsl(var(--tt-very-dark-blue)) !important;
    font-family: var(--tt-font-sans);
  }
</style>
